<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProductPulse AI</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div class="container">

        <h1>ProductPulse AI</h1>

        <p class="subtitle">
            AI-Powered Product Review Comparison Platform
        </p>

        <input
            type="text"
            id="product1-url"
            placeholder="Enter First Amazon Product URL">

        <br><br>

        <input
            type="text"
            id="product2-url"
            placeholder="Enter Second Amazon Product URL">

        <br><br>

        <button id="compare-btn">
            Compare Products
        </button>

    </div>

    <script src="/static/js/app.js"></script>

</body>

</html>